[Unit]
Description=Check for a new Veld checkpoint every fifteen minutes

[Timer]
OnCalendar=*-*-* *:0/15:00
RandomizedDelaySec=30
Persistent=true
Unit=veld-checkpoint-publisher.service

[Install]
WantedBy=timers.target
